<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>psproductcountdown</name>
    <displayName><![CDATA[Product countdown]]></displayName>
    <version><![CDATA[2.0.1]]></version>
    <description><![CDATA[Countdown timer for products.]]></description>
    <author><![CDATA[PrestaSite]]></author>
    <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure? All module data will be PERMANENTLY DELETED.]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>